<h6>collection/group/subgroup (these should be links to the relevant level)</h6>
<h1>Subgroup Name</h1>
for mini of subgroup.minis
<div class="row">
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>
  <div class="col-4">
    <h4>Mini Name</h4>
    <img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 150px;">
  </div>


</div>
