<main *ngIf="group">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span routerLink="/collections">
          &lt; Home
        </span>
        <span routerLink="/collections/{{collectionId}}">
          &lt; Collection
        </span>
        <h1>{{ group.group_name }}</h1>
      </div>
      <h2>Subcategories</h2>
      <app-create-subgroup [group]="group" [collectionId]="collectionId"> </app-create-subgroup>
      <div
        *ngFor="let subgroup of group.subgroups"
        class="card mt-3"
        style="min-height: 5em"
      >
        <a
          routerLink="/collections/{{ group.collection_id }}/{{ group.id }}/{{
            subgroup.id
          }}"
          class="p-2 link-secondary"
        >
          {{ subgroup.subgroup_name }}
        </a>
        <div class="nav">
          <div *ngFor="let mini of subgroup.minis">
            <a
              routerLink="/collections/{{ group.collection_id }}/{{
                group.id
              }}/{{ subgroup.id }}/{{ mini.id }}"
              class="p-2"
            >
              {{ mini.mini_name }}
            </a>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <app-edit-group [group]="group" [collectionId]="collectionId"></app-edit-group>
        <div class="btn btn-danger" (click)="onDeleteGroup()">Delete</div>
      </div>
    </div>
  </div>
</main>
