<h6>collection/group/subgroup/mini (these should be links to the relevant level)</h6>
<h1>Miniature Name</h1>
<img src="https://www.kindpng.com/picc/m/221-2214857_meeple-png-page-meeple-transparent-background-png-download.png" alt="placeholder image" style="width: 200px;">
<div class="row">
  <div class="col-3">
    <h4>Loadout</h4>
  </div>
  <div class="col-3">
    <h4>Quantity</h4>
  </div>
</div>
<div>description Augue consectetur morbi blandit, tristique vulputate ipsum risus congue. Id ut in, sodales per, ligula nec maecenas vestibulum aliquet justo aptent. Praesent maecenas sapien tristique, ante hac platea, vel fringilla potenti taciti convallis inceptos posuere. </div>
