<aside class="">
  <nav class="" id="asidenav">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
      <!-- map each collection -->
      <li class="mb-1">
        <button class="btn inline-flex align-items-center rounded" > Collection Name</button>
        <div>
          <ul class="list-unstyled fw-normal pb-1 small">
            <!-- map each group under a collection -->
            <li class="inline-flex align-items-center rounded">
              Group
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</aside>
