<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#edit-subgroup"
>
  Edit Subcategory
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-subgroup"
  tabindex="-1"
  aria-labelledby="edit-subgroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-subgroupLabel">Edit Subcategory</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          {{error}}
        </div>
        <form [formGroup]="subgroupFormGroup" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Change Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="subgroup_name"
            />
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeBtn>
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">
            Save Changes
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
